section > h1{
    color:white;
    text-align: center;
    margin-bottom: 0;
    font-size: 3rem;
  }
  
  .skills{
      padding-top: 60px;
      padding-bottom: 150px;
      background-color: #151418;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .name{
      color:#FF122A ;
  }
  
  #skills-details{
      text-align: center;
      margin-top: 0;
  }
  
  .skills-container{
      padding-top: 80px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      width: 80%;
      column-gap: 75px;
      row-gap: 80px;
  }
  
  .icon-card{
      width: 230px;
      height: 230px;
      background-color:#151418 ;
      border: 1px solid gray;
      border-radius: 10px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease;
  } 
  
  .icon-card:hover{
      color:white;
      box-shadow : 0 0 20px rgb(170, 42, 42),
                   0 0 20px rgb(170, 42, 42);
      transform: scale(1.1); 
  }
  
  .card-icon{
      width: 90px; 
      height: 90px;
  }
  
  .card-icon-name{
      text-align: center;
      font-size: 1.2rem;
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1440px){
      .skills-container{
          padding-top: 80px;
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(3,1fr);
      }

      section > h1{
        font-size: 2.5rem;
      }

      .card-icon{
        width: 80px; 
        height: 80px;
    }

    .card-icon-name{
        text-align: center;
        font-size: 1.2
        1rem;
    }

    .icon-card{
        width: 210px;
        height: 210px;
    } 
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px){
      .skills-container{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(3,1fr);
          column-gap: 60px;
          width: 80%;
      }
      .icon-card{
          width: 150px;
          height: 150px;
      }
      .card-icon-name{
          text-align: center;
          font-size: 0.8rem;
      }

      section > h1{
        font-size: 2.2rem;
      }

      .card-icon{
        width: 60px; 
        height: 60px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 767px){
      .skills-container{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(3,1fr);
          width: 80%;
      }
      .icon-card{
          width: 120px;
          height: 120px;
      }
      .card-icon-name{
          text-align: center;
          font-size: 1rem;
      }
      .card-icon{
          width: 50px; 
          height: 50px;
      }

      section > h1{
        font-size: 2rem;
      }

      #skills-details{
        font-size: 0.8rem;
    }

  }
  
  @media screen and (min-width: 375px) and (max-width: 424px){
      .skills-container{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(3,1fr);
          width: 80%;
      }
      .icon-card{
          width: 100px;
          height: 110px;
      }
      .card-icon-name{
          text-align: center;
          font-size: 1rem;
      }
      .card-icon{
          width: 40px; 
          height: 40px;
      }

      #skills-details{
        font-size: 0.8rem;
    }

    section > h1{
        font-size: 2rem;
    }

    .card-icon-name{
        text-align: center;
        font-size: 0.8rem;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 374px){
      .skills-container{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(3,1fr);
          column-gap: 15px;
          row-gap: 80px;
          width: 80%;
      }
      .icon-card{
          width: 100px;
          height: 110px;
      }
      .card-icon-name{
          text-align: center;
          font-size: 1rem;
      }
      .card-icon{
          width: 40px; 
          height: 40px;
      }

      #skills-details{
        font-size: 0.8rem;
    }

  }
  
  @media screen and (min-width: 0px) and (max-width: 319px){
  
  }